<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Eventex</title>
	<link rel="stylesheet" href="{{STATIC_URL}}css/reset.css" type="text/css" media="screen" charset="utf-8"/>
	<link rel="stylesheet" href="{{STATIC_URL}}css/eventex.css" type="text/css" media="screen" charset="utf-8"/>
</head>
<body>
	<div class="site">
	<div class="content">
		<h1 class="logo">Eventex</h1>
		<div id="box" class="columns on-2">
			<div class="column">
				<h2 class="welcome">Bem-vindo ao EventeX!</h2>
				<p>O Evento mais sensacional do ano depois do Dev in Rio! Você não pode perder esta oportunidade!</p>
			</div>
			<div class="column">
				<p class="abertura">Abertura das Inscrições em<br/><strong>20/11/2011</strong></p>
				<p>Para dúvidas e mais informações entre em contato <strong>eventex@eventex.com.br</strong></p>
			</div>
		</div>
	</div>
	<div class="footer">
		<h1>@ 2011 Eventex</h1>
		<img src="{{STATIC_URL}}images/djangosite80x15.gif"/>
	</div>
	</div>
</body>
</html>
